*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-- Body --*/
body{
    font-family: '', cursive;
}

/*-- Header --*/

/*-- Head --*/
header{
    width: 100%;
    height: 50px;
    background: #333;
    color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1{
    float: left;
}

header .contenedor{
    display: table;
}

/*-- Menu --*/
#menu-bar{
    display: none;
}

header label{
    float: right;
    font-size: 28px;
    margin: 6px;
    cursor: pointer;
}
.baka{
    color: whitesmoke;
    float: right;
    font-size: 28px;
    margin: 6px;
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a{
    display: block;
    color: whitesmoke;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu a:hover{
    background: rgba(255, 255, 255, 0.5);
}

#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}

/*-- Main --*/

/*-- Banner --*/
#banner{
    margin-top: 50px;
    position: relative;
}
#banner img{
    width: 100%;
    height: calc(100vh - 50px);
}
#banner .contenedor{
    width: 35%;
    position: absolute;
    top: 50%;
    left: 20%;
    padding: 10px;
    transform: translateX(-50%) translateY(-50px);
    color: whitesmoke;
    background: rgba(51, 51, 51, 0.7);
    border-radius: 20px;
}
#banner h2{
    font-size: 28px;
}
#banner a{
    display: block;
    width: 100px;
    color: whitesmoke;
    text-decoration: none;
    padding: 7px;
    margin: 20px;
    margin-top: 10px;
    border: 3px solid whitesmoke;
    text-align: center;
}
#banner a:hover{
    background: rgba(158, 29, 227, 0.4);
    color: #CE1DE3;
    border: 3px solid #CE1DE3;
    transition: all 0.3s;
}

/*-- Informacion --*/
section{
    width: 100%;
    margin-bottom: 25px;
}
#informacion{
    text-align: justify;
    padding: 10px;
}

/*-- Bloques --*/
#block h3, h4{
    text-align: center;
}
#block .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#block article{
    margin: 15px;
}
#block img{
    width: 450px;
    height: 300px;
}

/*-- Imagenes --*/
#texto{
    background: rgba(51, 51, 51, 0.9);
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}
#texto .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.text{
    margin: 20px;
}
.text img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid whitesmoke;
}

/*-- Footer --*/
footer .contenedor{
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    background: rgba(51, 51, 51, 0.9);
    color: whitesmoke;
    margin: 20px;
}

.copy{
    font-size: 20px;
}

.icon{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.icon a{
    color: whitesmoke;
    text-decoration: none;
}